<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TrainInquiry</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>PnrRequestHandle</servlet-name>
    <url-pattern>/PnrRequestHandle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PnrRequestHandle</display-name>
    <servlet-name>PnrRequestHandle</servlet-name>
    <servlet-class>com.train.controller.PnrRequestHandle</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TrainRouteHandler</servlet-name>
    <url-pattern>/TrainRouteHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainRouteHandler</display-name>
    <servlet-name>TrainRouteHandler</servlet-name>
    <servlet-class>com.train.controller.TrainRouteHandler</servlet-class>
  </servlet>
  
</web-app>